<%= form_with(model: author, local: false) do |form|%>
    <div class="modal-body">
        <div class="card" style="width: max;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Nombre: <%= author.first_name %></li>
              <li class="list-group-item">Apeliido: <%= author.last_name%></li>
              <li class="list-group-item">Direccion: <%= author.address%></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-close-show">Close</button>
        <%= link_to "Edit", edit_author_path(author), data: {bs_toggle: "modal", bs_target: "#editModal", remote: true}, class: "btn btn-success" %>
    </div>
<% end %>
